# Rename this file to .env and fill in the values
TELEGRAM_CHANNEL_ID=
TELEGRAM_BOT_TOKEN=
OPENAI_TOKEN=
# DSN in gorm format
POSTGRES_DSN="user=gorm password=gorm dbname=gorm port=9920 sslmode=disable"